<div class="content">
    <div class="row">
        <div class="col-md-3 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">الإيرادات المدفوعة</h6>
                    <h3 class="text-right"><i class="fa fa-cash-register f-left"></i><span>486</span></h3>
                    <p class="m-b-0"><a href="/finance/payments" class="link">عرض كل الإيرادات</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">إجمالي المنصرفات</h6>
                    <h3 class="text-right"><i class="fa fa-money-bill-transfer f-left"></i><span>486</span></h3>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">إجمالي التأمينات المعلقة</h6>
                    <h3 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h3>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">إجمالي التأمينات المستردة</h6>
                    <h3 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h3>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="header">
                    <b class="h6 f-right">سجل التأشيرات</b>

                </div>
                <div class="content table-responsive table-full-width">
                    <table class=" ">
                        <thead>
                            <th>#</th>
                            <th>الرقم التسلسلي</th>
                            <th>اسم العميل</th>
                            <th>التأشيرة</th>
                            <th>تاريخ الإصدار</th>
                            <th>المبلغ المطلوب</th>
                            <th>المبلغ المدفوع</th>
                            <th>المبلغ المتبقي</th>
                            <th>حالة الدفع</th>
                            <th></th>
                        </thead>
                        <tbody id="visaTableBody">

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    
    <!-- New Payment Modal -->
    <div id="newPaymentModal" class="modal">
        <div class="modal-content">
            <div class="modal-title">إضافة عملية سداد جديدة</div>
            <form>

                <div class="row">
                    <div class="col-md-12 ">
                        <div class="form-group">

                            <input type="text" id="serialNumber" class="inputs" placeholder="الرقم التسلسلي" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <label for="serviceType">نوع الخدمة</label>
                            <input type="text" id="serviceType" class="inputs" value="تأشيرة" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <input type="hidden" id="serviceId" class="inputs" placeholder="الرقم التسلسلي" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <label for="dueAmount">المبلغ المطلوب</label>
                            <input type="text" id="dueAmount" class="inputs" placeholder="المبلغ المطلوب" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <label for="amount">مبلغ السداد</label>
                            <input type="number" id="amount" class="inputs" placeholder="مبلغ السداد">
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-success btn-fill" id="visa-payment">سداد</button>

                <button type="button" id="closeModalContentBtn" class="btn btn-danger btn-fill"
                    onclick="closeModal('newPaymentModal');">إغلاق</button>
            </form>

        </div>
    </div>
</div>

<script src="/js/finance/finance.js"></script>