<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <b class="h6 f-right">سجل الإيرادات</b>
                    <a href="/finance" class="button f-left">رجوع</a>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class=" ">
                        <thead>
                            <th>#</th>
                            <th>الرقم التسلسلي</th>
                            <th>اسم العميل</th>
                            <th>نوع الخدمة</th>
                            <th>المبلغ المدفوع</th>
                            <th>التاريخ</th>
                            <th></th>
                        </thead>
                        <tbody id="paymentTableBody">

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/finance/payments.js"></script>