<div class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="header">
                    <b class="h6 f-right">سجل التأمينات المستردة</b>
                    <a href="/finance" class="button f-left">رجوع</a>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class=" ">
                        <thead>
                            <th>#</th>
                            <th>الرقم التسلسلي</th>
                            <th>اسم العميل</th>
                            <th>البند</th>
                            <th>تاريخ الإسترجاع</th>
                            <th>التأمين</th>
                            <th>المستلم</th>
                            <th>المسترد</th>
                            
                        </thead>
                        <tbody id="refundsTableBody">

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>
<script src="/js/finance/refund.js"></script>