<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="header">
                        <b class="h6">الإقامات</b>
                        <div class="row">
                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="passport_no">بحث عن إقامة</label>
                                        <input type="text" id="passport_no" class="form-control" placeholder="ادخل رقم جواز العميل">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="filter-button">.</label>
                                    <button type="button" class="btn btn-white btn-fill form-control"
                                        id="search-button">بحث</button>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="col-md-2 pull-left">
                                <div class="form-group">
                                    <label for="filter-button">.</label>
                                    <a href="/permits/new/permit" class="btn btn-success btn-fill form-control">إضافة جديدة</a>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover ">
                            <thead>
                                <th>#</th>
                                <th>جواز العميل</th>
                                <th>اسم العميل</th>
                                <th>معرف الإقامة</th>
                                <th>نوع الإقامة</th>
                                <th>الإمارة</th>
                                <th>تاريخ الإصدار</th>
                                <th>تاريخ الانتهاء</th>
                                
                            </thead>
                            <tbody id="permitsTableBody">
                                <!-- Table rows will be populated here dynamically -->

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <!-- Update Refund Modal -->
            <div id="updateRefundModal" class="modal">
                <div class="modal-content">
                    <div class="modal-title">تعديل عملية الإسترجاع</div>
                    <input type="hidden" name="refund-id" id="refund-id" value="">
                    <input type="hidden" name="refund-id" id="client-visa-id" value="">
                    <form>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label for="edit-visa">رقم الجواز</label>
                                    <input type="text" id="clientPassportNo" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label for="edit-amount">المبلغ المسترجع</label>
                                    <input type="number" id="edit-refund-amount" class="form-control" placeholder="المبلغ">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning btn-fill" id="edit-refund-button">تعديل</button>

                        <button type="button" id="closeModalContentBtn" class="btn btn-danger btn-fill"
                            onclick="closeModal('updateRefundModal');">إغلاق</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <script src="/js/api-functions/permits.js"></script>