<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" id="">إضافة عميل</h4>
                    </div>
                    <div class="content">
                        <form id="new-client-form" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>الإسم الأول بالعربي</label>
                                        <input type="text" class="form-control" id="ar_first_name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>الإسم الثاني بالعربي</label>
                                        <input type="text" class="form-control" id="ar_second_name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>الإسم الثالث بالعربي</label>
                                        <input type="text" class="form-control" id="ar_third_name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>الإسم الرابع بالعربي</label>
                                        <input type="text" class="form-control" id="ar_fourth_name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>الإسم الأول بالإنجليزي</label>
                                        <input type="text" class="form-control" id="en_first_name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>الإسم الثاني بالإنجليزي</label>
                                        <input type="text" class="form-control" id="en_second_name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>الإسم الثالث بالإنجليزي</label>
                                        <input type="text" class="form-control" id="en_third_name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>الإسم الرابع بالإنجليزي</label>
                                        <input type="text" class="form-control" id="en_fourth_name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>نوع التأشيرة</label>
                                        <select name="visasOptions" id="visasOptions" class="form-control">
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>مبلغ التأشيرة</label>
                                        <input type="text" class="form-control" id="visa_amount" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>العملة</label>
                                        <input type="text" class="form-control" id="visa_amount_currency"
                                            placeholder="درهم إماراتي" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>مبلغ التأمين</label>
                                        <input type="number" class="form-control" id="insurance" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>رقم الجواز</label>
                                        <input type="text" class="form-control" id="passport_no">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>تاريخ إصدار التأشيرة</label>
                                        <input type="date" class="form-control" id="visa_created_date">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>تاريخ إنتهاء التأشيرة</label>
                                        <input type="date" class="form-control" id="visa_finished_date">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>زمن دخول العميل</label>
                                        <input type="date" class="form-control" id="client_enterance_date">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>جواز السفر</label>
                                        <input type="file" class="form-control" id="client_passport">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>الصورة الفوتوغرافية</label>
                                        <input type="file" class="form-control" id="client_photograph">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>التأشيرة</label>
                                        <input type="file" class="form-control" id="visa_file">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>الإقامة</label>
                                        <input type="file" class="form-control" id="permit">
                                    </div>
                                </div>

                            </div>

                            <button type="button" class="btn btn-info btn-fill" id="add-client"
                                onclick="">إضافة</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/js/api-functions/new-client.js"></script>