<div class="content">
    <div class="container-fluid">
        <!-- Tasheera Section -->
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="header">
                        <b class="h6">أصناف التأشيرات</b>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success btn-fill form-control"
                                        onclick="openModal('newVisaModal')">إضافة صنف جديد</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-fill form-control" onclick="">إضافة
                                        وكيل</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class=" ">
                            <thead>
                                <th>#</th>
                                <th>نوع التأشيرة</th>
                                <th>السعر</th>
                                <th>العملة</th>
                                <th>الفئة</th>
                                <th>الوكيل</th>
                                <th>رسوم التأمين</th>
                                <th></th>
                            </thead>
                            <tbody id="visas-table-body">

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- Tasheera Section End -->

        <!-- Eqama Section -->
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="header">
                        <b class="h6">أصناف الإقامات</b>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success btn-fill form-control"
                                        onclick="openModal('newPermitModal')">إضافة صنف جديد</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class=" ">
                            <thead class="">
                                <th>#</th>
                                <th>الإقامة</th>
                                <th>السعر</th>
                                <th></th>
                            </thead>
                            <tbody id="permit-table-body">

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- Eqama Section End -->

        <!-- Modals Section -->

        <!-- New Eqama Modal -->
        <div id="newPermitModal" class="modal">
            <div class="modal-content">
                <div class="modal-title">إضافة إقامة جديدة</div>
                <form>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="visa">نوع الإقامة</label>
                                <input type="text" id="permit" class="form-control" placeholder="نوع الإقامة">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="price">السعر</label>
                                <input type="number" id="price" class="form-control" placeholder="السعر">
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success btn-fill" id="save-permit-button">إضافة</button>

                    <button type="button" id="closeModalContentBtn" class="btn btn-danger btn-fill"
                        onclick="closeModal('newPermitModal');">إغلاق</button>
                </form>

            </div>
        </div>

        <!-- Update Eqama Modal -->
        <div id="updatePermitModal" class="modal">
            <div class="modal-content">
                <div class="modal-title">تعديل الإقامة</div>
                <input type="hidden" name="permit-id" id="permit-id" value="">
                <form>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="edit-permit">الإقامة</label>
                                <input type="text" id="edit-permit-type" class="form-control"
                                    placeholder="نوع التأشيرة">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="edit-price">السعر</label>
                                <input type="number" id="edit-permit-price" class="form-control" placeholder="السعر">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning btn-fill" id="edit-permit-button">تعديل</button>

                    <button type="button" id="closeModalContentBtn" class="btn btn-danger btn-fill"
                        onclick="closeModal('updatePermitModal');">إغلاق</button>
                </form>
            </div>
        </div>
        <!-- Delete Eqama Modal -->
        <div id="deletePermitModal" class="modal">
            <div class="modal-content">
                <div class="modal-title">حذف الإقامة</div>
                <input type="hidden" name="delete-permit-id" id="delete-permit-id">

                <div class="row">
                    <div class="col-md-12 ">
                        <label>هل أنت متأكد من حذف هذه الإقامة</label>
                    </div>
                </div>
                <button type="button" class="btn btn-danger btn-fill" id="confirm-delete-permit-button">نعم حذف</button>

                <button type="button" id="closeModalContentBtn" class="btn btn-defalut btn-fill"
                    onclick="closeModal('deletePermitModal');">إغلاق</button>

            </div>
        </div>
        <!-- New Tasheera Modal -->
        <div id="newVisaModal" class="modal">
            <div class="modal-content">
                <div class="modal-title">إضافة تأشيرة جديدة</div>
                <form>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="visa">نوع التأشيرة</label>
                                <input type="text" id="visa" class="inputs" placeholder="نوع التأشيرة">
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="amount">السعر</label>
                                <input type="number" id="amount" class="inputs" placeholder="السعر">
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="agent">الوكيل</label>
                                <input type="text" id="agent" class="inputs">
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="insurance">رسوم التأمين</label>
                                <input type="number" id="insurance" class="inputs">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>الفئة</label>
                                <select name="category" id="category" class="inputs">
                                    <option value="">--</option>
                                    <option value="child">أطفال</option>
                                    <option value="adult">كبار</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-fill" id="save-visa-button">إضافة</button>

                    <button type="button" id="closeModalContentBtn" class="btn btn-danger btn-fill"
                        onclick="closeModal('newVisaModal');">إغلاق</button>
                </form>

            </div>
        </div>

        <!-- Update Tasheera Modal -->
        <div id="updateVisaModal" class="modal">
            <div class="modal-content">
                <div class="modal-title">تعديل التأشيرة</div>
                <input type="hidden" name="visa-id" id="visa-id" value="">
                <form>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="edit-visa">نوع التأشيرة</label>
                                <input type="text" id="edit-visa-type" class="form-control" placeholder="نوع التأشيرة">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="edit-amount">السعر</label>
                                <input type="number" id="edit-visa-amount" class="form-control" placeholder="السعر">
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-md-12 ">
                        <div class="form-group">
                            <label for="agent">الوكيل</label>
                            <input type="text" id="edit-vis-agent" class="inputs">
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <label for="insurance">رسوم التأمين</label>
                            <input type="number" id="edit-visa-insurance" class="inputs">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>الفئة</label>
                            <select name="category" id="edit-visa-category" class="inputs">
                                <option value="">--</option>
                                <option value="child">أطفال</option>
                                <option value="adult">كبار</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning btn-fill" id="edit-visa-button">تعديل</button>

                    <button type="button" id="closeModalContentBtn" class="btn btn-danger btn-fill"
                        onclick="closeModal('updateVisaModal');">إغلاق</button>
                </form>
            </div>
        </div>

        <!-- Delete Tasheera Modal -->
        <div id="deleteVisaModal" class="modal">
            <div class="modal-content">
                <div class="modal-title">حذف التأشيرة</div>
                <input type="hidden" name="delete-visa-id" id="delete-visa-id">

                <div class="row">
                    <div class="col-md-12 ">
                        <label>هل أنت متأكد من حذف هذه التأشيرة</label>
                    </div>
                </div>
                <button type="button" class="btn btn-danger btn-fill" id="confirm-delete-visa-button">نعم حذف</button>

                <button type="button" id="closeModalContentBtn" class="btn btn-defalut btn-fill"
                    onclick="closeModal('deleteVisaModal');">إغلاق</button>

            </div>
        </div>

    </div>
</div>
<script src="/js/api-functions/addings.js"></script>