<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form id="client-form">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>اسم المستخدم</label>
                                        <input type="text" class="inputs" id="user-Name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>البريد الإلكتروني</label>
                                        <input type="email" class="inputs" id="userEmail">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>رقم الهاتف</label>
                                        <input type="text" class="inputs" id="userPhone">
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-info btn-fill" id="update-profile" onclick="">تحديث
                                البيانات</button>
                            <button type="button" class="btn btn-warning btn-fill" id="changePassowrd" onclick="openModal('changePasswordModal')">تغيير
                                كلمة المرور</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="changePasswordModal" class="modal">
            <div class="modal-content">
                <div class="modal-title">تغيير كلمة المرور</div>
                <form>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="passwordCurrent">كلمة المرور الحالية</label>
                                <input type="password" id="passwordCurrent" class="inputs" placeholder="الحالية">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="newPassword">كلمة المرور الجديدة</label>
                                <input type="password" id="newPassword" class="inputs" placeholder="الجديدة">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label for="confirmPassword">تأكيد كلمة المرور الجديدة</label>
                                <input type="password" id="confirmPassword" class="inputs" placeholder="تأكيد الجديدة">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning btn-fill" id="change-password-button">تغيير</button>

                    <button type="button" id="closeModalContentBtn" class="btn btn-danger btn-fill"
                        onclick="closeModal('changePasswordModal');">إغلاق</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="/js/api-functions/profile.js"></script>