<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" >إسترجاع مبلغ تأمين</h4>
                    </div>
                    <div class="content">
                        <form id="client-form">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>رقم الجواز</label>
                                        <input type="text" class="form-control" id="passport_number" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>إسم العميل</label>
                                        <input type="text" class="form-control" id="client_name" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>مبلغ التأمين المدفوع</label>
                                        <input type="number" class="form-control" id="insurance" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>مبلغ التأمين المسترجع</label>
                                        <input type="number" class="form-control" id="refund" value="0">
                                    </div>
                                </div>
                            </div>
                    
                            <button type="button" class="btn btn-success btn-fill" id="client-refund"
                                onclick="">إسترجاع مبلغ تأمين</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/js/api-functions/refund-back.js"></script>