<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-4 col-md-offset-4">
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">تسجيل الدخول</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">البريد الإلكتروني</label>
                                        <input type="email" id="email" class="form-control" placeholder="ایمیل">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>كلمة المرور</label>
                                        <input type="password" id="password" class="form-control" placeholder="باسويرد" value="">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-purple btn-fill" id="login-button">دخول</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>
<script src="/js/api-functions/login.js"></script>