<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-4 col-md-offset-4">
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">تسجيل الدخول</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">البريد الإلكتروني</label>
                                        <input type="email" id="email" class="form-control" placeholder="ایمیل">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>كلمة المرور</label>
                                        <input type="password" id="password" class="form-control" placeholder="باسويرد"
                                            value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 align-items-center text-center">
                                    <div class="con-btns">

                                        <button type="button" id="login-button">
                                            تسجيل الدخول

                                            <div class="loading-4 loading">
                                                <span class="span1"></span>
                                                <span class="span2"></span>
                                                <span class="span3"></span>
                                            </div>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<script>
    
   
</script>
<script src="/js/api-functions/login.js"></script>